Flask==1.1.2
Flask-Cors==3.0.9
Flask-Limiter==1.4
requests==2.20.0
requests-unixsocket==0.1.5
Werkzeug==1.0.1
pyvmomi==7.0.1
packer.py==0.3.0
python-dotenv==0.15.0
boto3==1.18.49
pymongo==4.1.1
psutil==5.9.2
awscli
