WEBHOOK_URL=https://hooks.slack.com/services/TTTTTTTTTTTTTTTTTTTTTTTTTTTT
SSH_KEYS=default
aws_access_key=<ACCESS-KEY-VALUE>
aws_secret_key=<SECRET-KEY-VALUE>
SSHKeyName=aws-ssh-key
ImageId=ami-1234567890
Instance_username=ubuntu